.loader {
  width: 56px;
  height: 56px;
  --c: radial-gradient(farthest-side, rgb(133, 147, 152) 99%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 13.4px 13.4px;
  background-repeat: no-repeat;
  animation: spinner-animation 1s infinite;
}

@keyframes spinner-animation {
  to {
    transform: rotate(0.5turn);
  }
}
