@font-face {
  font-family: "Play";
  font-weight: normal;
  font-style: normal;

  src: url("assets/fonts/Play-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Play";
  font-weight: bold;
  font-style: normal;

  src: url("assets/fonts/Play-Bold.ttf") format("truetype");
}
