.talker {
  width: 535px;
  height: 600px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 60px 40px 40px;
  box-sizing: border-box;

  @media (max-width: 767px) {
    width: 90%;
    height: 500px;
    padding: 40px 30px 30px;
  }
}

.stats {
  margin: 32px 0 0;
  font-size: 14px;
  height: 18px;
  padding: 0;
}
