name: Deploy
"on":
    workflow_run:
        workflows: [CI]
        branches: [master]
        types:
        - completed
    push:
        branches:
            - master
jobs:
    deployment:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Deploy using ssh
            uses: appleboy/ssh-action@master
            with:
                host: ${{ secrets.HOST }}
                USERNAME: ${{ secrets.USERNAME }}
                KEY: ${{ secrets.PRIVATE_KEY }}
                PORT: 22
                script: |
                    cd /home/sip/talker
                    git checkout master
                    git pull
                    git status
                    yarn install
                    yarn build
                    pm2 restart talker